<!DOCTYPE html>
<html>
<head>
    <title>CloudLab</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <style>

.center {
  display: block;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

    </style>
</head>
<body>


<div class="first-container">

    <nav>
        <a href="/">Home</a>
        <a href="/vm-request">Virtual Machine</a>
        <a href="/k8s-request">Kubernetes</a>
        <a href="/container">SaaS</a>
        <a href="/admin">Administration</a>
        <a href="https://github.com/JinlongWukong/CloudLab#readme">Help</a>
    </nav>

    <img src="img/cloudLab.png" alt="artitecture" class="center">
</div>
</body>
