<!DOCTYPE html>
<html>
<head>
    <title>K8S Operation</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <style>
    label {
        width: 12%;
        display: inline-block;
    }

    label[for="one-day"], label[for="one-week"], label[for="two-week"], label[for="forever"] {
        width: 5%;
    }
    
    input[type=text], input[type=password], select {
        width: 10%;
        margin-top: 6px;
        padding: 4px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
    
    input[type=radio]{
        width: 1%;
        margin-top: 6px;
        padding: 4px;
        border: 1px solid #ccc;
        border-radius: 1px;
        resize: vertical;
    }
    
    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
    }
    </style>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/vm-request">Virtual Machine</a>
        <a href="/k8s-request">Kubernetes</a>
        <a href="/saas-request">SaaS</a>
        <a href="/admin">Administration</a>
        <a href="https://github.com/JinlongWukong/DevLab#readme">Help</a>
        <a> <button id="signBtn" style="width: auto;float: right; margin-left: 20px;">Sign in</button></a>
        <a> <p id="accountName" style="width: auto;float: right; margin-top: 0px; color: red;"></p> </a>
    </nav>
    
    <div class="k8sForm">
    <form id="k8sCreateForm" action="/k8s" method="POST">
        <br>
        <label for="version">Select k8s version: </label>
        <select name="version">
            <option value="v1.21.1">v1.21.1</option>
            <option value="v1.20.7">v1.20.7</option>
            <option value="v1.19.11">v1.19.11</option>
        </select>
        <br>
    
        <label for="controller">Select controller numbers: </label>
        <select name="numOfContronller">
            <option value="1">1</option>
        </select>
        <br>
    
        <label for="worker">Select worker numbers: </label>
        <select name="numOfWorker">
            <option value="1">1</option>
            <option value="2">2</option>
            <option selected value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
        <br>

        <br>
        <input type="submit"/>
        <br>
    </form>
    </div>

    <br>
    <input type="button" class="button" id = "k8sListGenerate" value="K8S Info" />
    <div>
        <div id="tableDiv" style="margin-top: 20px">
            <p>Click button to list all your k8s cluster here </p>
        </div>
    </div>

    <div id="loginDiv" class="modal">
        <form id="loginForm" class="modal-content animate">
          <div class="container">
            <label for="account"><b>Account</b></label>
            <input id="loginAccount" type="text" placeholder="Enter account" name="account" required>
      
            <label for="password"><b>Password</b></label>
            <input id="loginPass" type="password" placeholder="Enter Password" name="password" required>
              
            <button type="submit">Login</button>
            <button class="generate-password" type="button">Generate one-time password</button>
          </div>
      
          <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('loginDiv').style.display='none'" class="cancelbtn">Cancel</button>
          </div>
        </form>
    </div>    
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://malsup.github.io/jquery.blockUI.js"></script>
<script src="scripts/auth.js"></script>
<script>

function CreateK8STableFromJSON(myK8sList) {
    //var myK8sList = [{"Name":"jinlliu-1","CPU":2,"Mem":2048,"Disk":30,"Address":"192.168.122.50/24","Status":"running","Type":"centos7","Host":{"Name":"","CPU":0,"Memory":0,"IpAddress":"127.0.0.1","Status":"","UserName":"root","Passwd":"Cisco123!"},"LifeTime":86400000000000}]

    // EXTRACT VALUE FOR HTML HEADER. 
    var col = [];
    for (var i = 0; i < myK8sList.length; i++) {
        for (var key in myK8sList[i]) {
            if (col.indexOf(key) === -1) {
                col.push(key);
            }
        }
    }

    // ADD NEW COL, DEFINE ACTION
    if (myK8sList.length > 0) {
        col.push("action")
    }

    // CREATE DYNAMIC TABLE.
    var table = document.createElement("table");

    // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

    var tr = table.insertRow(-1);                   // TABLE ROW.

    for (var i = 0; i < col.length; i++) {
        var th = document.createElement("th");      // TABLE HEADER.
        th.innerHTML = col[i];
        tr.appendChild(th);
    }

    // ADD JSON DATA TO THE TABLE AS ROWS.
    for (var i = 0; i < myK8sList.length; i++) {

        tr = table.insertRow(-1);

        for (var j = 0; j < col.length; j++) {
            var tabCell = tr.insertCell(-1);
            if (col[j] == "action"){
                tabCell.innerHTML = `
                <form id="actionForm" action="/k8s" onsubmit="event.preventDefault();return k8sAction(this)">
                   <button type="submit">Delete</button>
                  `+ '<input type="hidden" name="name"' + 'value=' + myK8sList[i]["name"] + ' >'
                + '</form>';
            } else {
                tabCell.innerHTML = myK8sList[i][col[j]];
            }
        }
    }

    // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
    var divContainer = document.getElementById("tableDiv");
    divContainer.innerHTML = "";
    divContainer.appendChild(table);
}

function k8sAction(element) {
    var form = $(element);
    var url = form.attr('action');
    var loginInfo = getLoginInfo()
    var account = loginInfo.account
    var token = loginInfo.token
    var payload = form.serialize(); // serializes the form's elements.
    $.blockUI({timeout:   8000});
    $.ajax({
        type: "DELETE",
        headers: {
                "Authorization": "Bearer "+ token +""
        },
        url: url + '?' + payload + "&account=" + account,
        error: function(data) {
            console.log(data)
            alert(data.status); // show response
        }
    }).always(function() {
        $.unblockUI();
        btnAutoClick();
    });
}

function btnAutoClick() {
    var k8sList = document.getElementById("k8sListGenerate");
    k8sList.click();
}

$(document).ready(function(){
    window.onload = loadAuth;

    $("#k8sCreateForm").submit(function(event) {
        $.blockUI({timeout:   10000});
        event.preventDefault(); //prevent default action
        var post_url = $(this).attr("action"); //get form action url
	    var request_method = $(this).attr("method"); //get form GET/POST method
	    var form_data = $(this).serialize(); //Encode form elements for submiss
        var loginInfo = getLoginInfo();
        var account = loginInfo.account;
        var token = loginInfo.token;
        $.ajax({
            type: "POST",
            url: post_url,
            headers: {
                "Authorization": "Bearer "+ token +""
            },
            async: false,
            data: form_data + "&account=" + account,
            error: function(data) {
                console.log(data)
                alert(data.status); // show response
            }
        }).always(function() {
            $.unblockUI();
            btnAutoClick();
        });
    })

    $("#k8sListGenerate").click(function(){ 
        var loginInfo = getLoginInfo()
        var account = loginInfo.account
        var token = loginInfo.token 
        var baseurl = location.origin;
        $.ajax({
            //url: "http://127.0.0.1:8088/k8s?account=" + account,
            url: baseurl + "/k8s?account=" + account,
            headers: {
                "Authorization": "Bearer "+ token +""
            },
            success: function(data){
                console.log(data)
                CreateK8STableFromJSON(data)
            },
            error: function(data){
                alert(data.status + ':' + data.statusText,data.responseText);
            },
            type: 'GET'
        });
    });

    $("#loginDiv .generate-password").click(function(){
        var baseurl = location.origin;
        var username = $('#loginDiv input[name="account"]').val()
        $.ajax({
            type: "POST",
            url: baseurl + "/one-time-password?account=" + username,
            error: function(data) {
                console.log(data)
                alert(data.status); // show response
            }
        })
    })
    $('#loginForm').submit(function(event) {
        event.preventDefault(); // prevent PageReLoad
        var baseurl = location.origin
	    var form_data = $(this).serialize(); //Encode form elements for submiss
        console.log(form_data)
        $.ajax({
            type: "POST",
            url: baseurl + "/login",
            data: form_data,
            error: function(data) {
                console.log(data)
                alert(data.status); // show response
            },
            success: function(data) {
                console.log(data)
                window.localStorage.setItem("access_token", data.access_token)
                window.localStorage.setItem("account", $("#loginAccount").val())
                document.getElementById('loginDiv').style.display = 'none'
                document.getElementById("signBtn").innerText = "Sign out"
                document.getElementById("accountName").innerText = $("#loginAccount").val()
            }
        })
    })
    $('#signBtn').click(function() {
        var text = document.getElementById("signBtn").innerText
        if(text == "Sign in") {
           document.getElementById('loginDiv').style.display='block'
        } else {
           window.localStorage.removeItem("access_token")
           window.localStorage.removeItem("account")
           document.getElementById("accountName").innerText = ""
           document.getElementById("signBtn").innerText = "Sign in"
        }
    })
});

</script>
</html>