<!DOCTYPE html>
<html>
<head>
    <title>SaaS Operation</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <style>
    label {
        width: 12%;
        display: inline-block;
    }

    input[type=text], select {
        width: 10%;
        margin-top: 6px;
        padding: 4px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
    
    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
    }
    </style>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/vm-request">Virtual Machine</a>
        <a href="/k8s-request">Kubernetes</a>
        <a href="/saas-request">SaaS</a>
        <a href="/admin">Administration</a>
        <a href="https://github.com/JinlongWukong/DevLab#readme">Help</a>
        <a> <button id="signBtn" style="width: auto;float: right; margin-left: 20px;">Sign in</button></a>
        <a> <p id="accountName" style="width: auto;float: right; margin-top: 0px; color: red;"></p> </a>
    </nav>
    
    <div class="SaaSForm">
    <form id="SaaSCreateForm" action="/saas" method="POST">

        <br>
        <label for="kind">Select software: </label>
        <select name="kind">
            <option value="jenkins">Jenkins</option>
            <option value="mysql">Mysql</option>
            <option value="postgres">Postgres</option>
            <option value="mongodb">Mongodb</option>
            <option value="influxdb">Influxdb</option>
            <option value="redis">Redis</option>
            <option value="prometheus">Prometheus</option>
            <option value="grafana">Grafana</option>
        </select> <br>

        <label for="version">Specify version: </label>
        <input type="text" id="version" name="version" value="latest" required> <br>
    
        <label for="cpu">Select cpu numbers: </label>
        <select name="cpu">
            <option value="1">1</option>
            <option selected value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="0">9</option>
            <option value="10">10</option>
        </select> <br>
    
        <label for="memory">Select memory size: </label>
        <select name="memory">
            <option value="512">500m</option>
            <option value="1024">1g</option>
            <option selected value="2048">2g</option>
            <option value="3072">3g</option>
            <option value="4096">4g</option>
            <option value="6144">6g</option>
            <option value="8192">8g</option>
            <option value="16384">16g</option>
        </select> <br>

        <br>
        <input type="submit"/>
        <br>
    </form>
    </div>

    <br>
    <input type="button" class="button" id = "SaaSListGenerate" value="SaaS table" />
    <div>
        <div id="tableDiv" style="margin-top: 20px">
            <p>Click button to list all your software here </p>
        </div>
    </div>

    <div id="loginDiv" class="modal">
        <form id="loginForm" class="modal-content animate">
          <div class="container">
            <label for="account"><b>Account</b></label>
            <input id="loginAccount" type="text" placeholder="Enter account" name="account" required>
      
            <label for="password"><b>Password</b></label>
            <input id="loginPass" type="password" placeholder="Enter Password" name="password" required>
              
            <button type="submit">Login</button>
            <button class="generate-password" type="button">Generate one-time password</button>
          </div>
      
          <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('loginDiv').style.display='none'" class="cancelbtn">Cancel</button>
          </div>
        </form>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://malsup.github.io/jquery.blockUI.js"></script>
<script src="/scripts/auth.js"></script>
<script>

function CreateSaaSTableFromJSON(mySaaSList) {
    //var mySaaSList = [{"Name":"jinlliu-1","CPU":2,"Mem":2048,"Disk":30,"Address":"192.168.122.50/24","Status":"running","Type":"centos7","Host":{"Name":"","CPU":0,"Memory":0,"IpAddress":"127.0.0.1","Status":"","UserName":"root","Passwd":"Cisco123!"},"LifeTime":86400000000000}]

    // EXTRACT VALUE FOR HTML HEADER. 
    var col = [];
    for (var i = 0; i < mySaaSList.length; i++) {
        for (var key in mySaaSList[i]) {
            if (col.indexOf(key) === -1) {
                col.push(key);
            }
        }
    }

    // ADD NEW COL, DEFINE ACTION
    if (mySaaSList.length > 0) {
        col.push("action")
    }

    // CREATE DYNAMIC TABLE.
    var table = document.createElement("table");

    // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

    var tr = table.insertRow(-1);                   // TABLE ROW.

    for (var i = 0; i < col.length; i++) {
        var th = document.createElement("th");      // TABLE HEADER.
        th.innerHTML = col[i];
        tr.appendChild(th);
    }

    // ADD JSON DATA TO THE TABLE AS ROWS.
    for (var i = 0; i < mySaaSList.length; i++) {

        tr = table.insertRow(-1);

        for (var j = 0; j < col.length; j++) {
            var tabCell = tr.insertCell(-1);
            if (col[j] == "name") {
                var url = location.origin + "/container/" + mySaaSList[i][col[j]] + "/web-terminal";
                tabCell.innerHTML = "<a href="+ url +">"+ mySaaSList[i][col[j]]+"</a>"
            } else if (col[j] == "port_mapping"){
                var result = ""
                for(var key in mySaaSList[i][col[j]]) {
                    var value = mySaaSList[i][col[j]][key];
                    result = result + key + "->" + value + "<br>"
                }
                tabCell.innerHTML = result
            } else if (col[j] == "additional_infor"){
                var result = ""
                for(var key in mySaaSList[i][col[j]]) {
                    var value = mySaaSList[i][col[j]][key];
                    result = result + key + "->" + value + "<br>"
                }
                tabCell.innerHTML = result              
            } else if (col[j] == "action"){
                tabCell.innerHTML = `
                <form id="actionForm" action="/saas" onsubmit="event.preventDefault();return SaaSAction(this)">
                   <select class="selection" name="action" style="width: 60%">
                       <option value="get">refresh</option> 
                       <option value="start">start</option>
                       <option value="stop">stop</option>
                       <option value="restart">restart</option>
                       <option value="delete">delete</option>
                   </select>
                   <button type="submit">Confirm</button>
                  `+ '<input type="hidden" name="name"' + 'value=' + mySaaSList[i]["name"] + ' >'
                + '</form>';
            } else {
                tabCell.innerHTML = mySaaSList[i][col[j]];
            }
        }
    }

    // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
    var divContainer = document.getElementById("tableDiv");
    divContainer.innerHTML = "";
    divContainer.appendChild(table);
}

function SaaSAction(element) {
    var form = $(element);
    var url = form.attr('action');
    var action = form.serializeArray()[0].value;
    var name = form.serializeArray()[1].value;
    var loginInfo = getLoginInfo();
    var token = loginInfo.token;
    $.blockUI({timeout:   8000});
    $.ajax({
        type: "POST",
        url: url + "/" + name + "/" + action,
        headers: {
            "Authorization": "Bearer "+ token
        },
        error: function(data) {
            console.log(data)
            alert(data.status + ':' + data.statusText,data.responseText);
        }
    }).always(function() {
        $.unblockUI();
        btnAutoClick();
    });
}

function btnAutoClick() {
    var SaaSList = document.getElementById("SaaSListGenerate");
    SaaSList.click();
}

$(document).ready(function(){
    window.onload = loadAuth;

    $("#SaaSCreateForm").submit(function(event) {
        $.blockUI({timeout:   10000});
        event.preventDefault(); //prevent default action
        var postUrl = $(this).attr("action"); //get form action url
	    var requestMethod = $(this).attr("method"); //get form GET/POST method
	    var formData = $(this).serialize(); //Encode form elements for submiss
        var loginInfo = getLoginInfo();
        var token = loginInfo.token;
        $.ajax({
            type: requestMethod,
            url: postUrl,
            headers: {
                "Authorization": "Bearer "+ token
            },
            async: false,
            data: formData,
            error: function(data) {
                console.log(data)
                alert(data.status); // show response
            }
        }).always(function() {
            $.unblockUI();
            btnAutoClick();
        });
    })

    $("#SaaSListGenerate").click(function(){ 
        var loginInfo = getLoginInfo()
        var token = loginInfo.token 
        var baseurl = location.origin;
        $.ajax({
            //url: "http://127.0.0.1:8088/saas",
            url: baseurl + "/saas",
            headers: {
                "Authorization": "Bearer "+ token
            },
            success: function(data){
                console.log(data)
                CreateSaaSTableFromJSON(data)
            },
            error: function(data){
                alert(data.status + ':' + data.statusText,data.responseText);
            },
            type: 'GET'
        });
    });

    $("#loginDiv .generate-password").click(function(){
        var baseurl = location.origin;
        var username = $('#loginDiv input[name="account"]').val()
        $.ajax({
            type: "POST",
            url: baseurl + "/one-time-password?account=" + username,
            error: function(data) {
                console.log(data)
                alert(data.status); // show response
            }
        })
    })
    $('#loginForm').submit(function(event) {
        event.preventDefault(); // prevent PageReLoad
        var baseurl = location.origin
	    var form_data = $(this).serialize(); //Encode form elements for submiss
        console.log(form_data)
        $.ajax({
            type: "POST",
            url: baseurl + "/login",
            data: form_data,
            error: function(data) {
                console.log(data)
                alert(data.status); // show response
            },
            success: function(data) {
                console.log(data)
                window.localStorage.setItem("access_token", data.access_token)
                window.localStorage.setItem("account", $("#loginAccount").val())
                document.getElementById('loginDiv').style.display = 'none'
                document.getElementById("signBtn").innerText = "Sign out"
                document.getElementById("accountName").innerText = $("#loginAccount").val()
            }
        })
    })
    $('#signBtn').click(function() {
        var text = document.getElementById("signBtn").innerText
        if(text == "Sign in") {
           document.getElementById('loginDiv').style.display='block'
        } else {
           window.localStorage.removeItem("access_token")
           window.localStorage.removeItem("account")
           document.getElementById("accountName").innerText = ""
           document.getElementById("signBtn").innerText = "Sign in"
        }
    })
});

</script>
</html>