<!DOCTYPE html>
<html>
<head>
    <title>SaaS Operation</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <style>
* {
  box-sizing: border-box;
}

label {
  width: 12%;
  display: inline-block;
}

input[type=text], select {
  width: 10%;
  margin-top: 6px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
    </style>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/vm-request">Virtual Machine</a>
        <a href="/k8s-request">Kubernetes</a>
        <a href="/saas-request">SaaS</a>
        <a href="/admin">Administration</a>
        <a href="https://github.com/JinlongWukong/CloudLab#readme">Help</a>
    </nav>
    
    <div class="SaaSForm">
    <form id="SaaSCreateForm" action="/saas" method="POST">

        <br>
        <label class="required" for="account">Account ID: </label>
        <input type="text" id="account" name="account" placeholder="Your cecid.." required> <br>

        <label for="kind">Select software: </label>
        <select name="kind">
            <option value="jenkins">Jenkins</option>
            <option value="gitlab">Gitlab</option>
            <option value="sonaqube">Sonaqube</option>
            <option value="mysql">Mysql</option>
            <option value="postsql">Postsql</option>
            <option value="mongodb">Mongodb</option>
            <option value="redis">Redis</option>
            <option value="nso">NSO</option>
            <option value="cxta">CXTA</option>
        </select> <br>

        <label for="version">Specify version: </label>
        <input type="text" id="version" name="version" value="latest" required> <br>
    
        <label for="cpu">Select cpu numbers: </label>
        <select name="cpu">
            <option value="1">1</option>
            <option selected value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="0">9</option>
            <option value="10">10</option>
        </select> <br>
    
        <label for="memory">Select memory size: </label>
        <select name="memory">
            <option value="512">500m</option>
            <option value="1024">1g</option>
            <option selected value="2048">2g</option>
            <option value="3072">3g</option>
            <option value="4096">4g</option>
            <option value="6144">6g</option>
            <option value="8192">8g</option>
            <option value="16384">16g</option>
        </select> <br>

        <br>
        <input type="submit"/>
        <br>
    </form>
    </div>

    <br>
    <input type="button" class="button" id = "SaaSListGenerate" value="SaaS table" />
    <div>
        <div id="tableDiv" style="margin-top: 20px">
            <p>Click button to list all your software here </p>
        </div>
    </div>
    
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://malsup.github.io/jquery.blockUI.js"></script>
<script>

function CreateSaaSTableFromJSON(mySaaSList) {
    //var mySaaSList = [{"Name":"jinlliu-1","CPU":2,"Mem":2048,"Disk":30,"Address":"192.168.122.50/24","Status":"running","Type":"centos7","Host":{"Name":"","CPU":0,"Memory":0,"IpAddress":"127.0.0.1","Status":"","UserName":"root","Passwd":"Cisco123!"},"LifeTime":86400000000000}]

    // EXTRACT VALUE FOR HTML HEADER. 
    var col = [];
    for (var i = 0; i < mySaaSList.length; i++) {
        for (var key in mySaaSList[i]) {
            if (col.indexOf(key) === -1) {
                col.push(key);
            }
        }
    }

    // ADD NEW COL, DEFINE ACTION
    if (mySaaSList.length > 0) {
        col.push("action")
    }

    // CREATE DYNAMIC TABLE.
    var table = document.createElement("table");

    // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

    var tr = table.insertRow(-1);                   // TABLE ROW.

    for (var i = 0; i < col.length; i++) {
        var th = document.createElement("th");      // TABLE HEADER.
        th.innerHTML = col[i];
        tr.appendChild(th);
    }

    // ADD JSON DATA TO THE TABLE AS ROWS.
    for (var i = 0; i < mySaaSList.length; i++) {

        tr = table.insertRow(-1);

        for (var j = 0; j < col.length; j++) {
            var tabCell = tr.insertCell(-1);
            if (col[j] == "port_mapping"){
                var result = ""
                for(var key in mySaaSList[i][col[j]]) {
                    var value = mySaaSList[i][col[j]][key];
                    result = result + key + "->" + value + "<br>"
                }
                tabCell.innerHTML = result
            } else if (col[j] == "additional_infor"){
                var result = ""
                for(var key in mySaaSList[i][col[j]]) {
                    var value = mySaaSList[i][col[j]][key];
                    result = result + key + "->" + value + "<br>"
                }
                tabCell.innerHTML = result              
            } else if (col[j] == "action"){
                tabCell.innerHTML = `
                <form id="actionForm" action="/saas" onsubmit="event.preventDefault();return SaaSAction(this)">
                   <select class="selection" name="action" style="width: 60%">
                       <option value="get">refresh</option> 
                       <option value="start">start</option>
                       <option value="stop">stop</option>
                       <option value="restart">restart</option>
                       <option value="delete">delete</option>
                   </select>
                   <button type="submit">Confirm</button>
                  `+ '<input type="hidden" name="name"' + 'value=' + mySaaSList[i]["name"] + ' >'
                   + '<input type="hidden" name="account" ' + 'value=' + document.getElementById("account").value + ' >'
                + '</form>';
            } else {
                tabCell.innerHTML = mySaaSList[i][col[j]];
            }
        }
    }

    // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
    var divContainer = document.getElementById("tableDiv");
    divContainer.innerHTML = "";
    divContainer.appendChild(table);
}

function SaaSAction(element) {
    var form = $(element);
    var url = form.attr('action');
    var payload = form.serialize(); // serializes the form's elements.
    $.blockUI({timeout:   8000});
    $.ajax({
           type: "POST",
           url: url + "/action",
           data: payload,
           error: function(data) {
               console.log(data)
               alert(data.status); // show response
           }
         }).always(function() {
           $.unblockUI();
           btnAutoClick();
         });
}

function btnAutoClick() {
    var account = document.getElementById("account").value;
    if (account != "") {
        var SaaSList = document.getElementById("SaaSListGenerate");
        SaaSList.click();
    }
}

$(document).ready(function(){

  $("#SaaSCreateForm").submit(function(event) {
    $.blockUI({timeout:   10000});
    event.preventDefault(); //prevent default action
    var post_url = $(this).attr("action"); //get form action url
	var request_method = $(this).attr("method"); //get form GET/POST method
	var form_data = $(this).serialize(); //Encode form elements for submiss
    $.ajax({
           type: "POST",
           url: post_url,
           async: false,
           data: form_data,
           error: function(data) {
               console.log(data)
               alert(data.status); // show response
           }
         }).always(function() {
           $.unblockUI();
           btnAutoClick();
    });
  })

  $("#SaaSListGenerate").click(function(){ 
        var account = document.getElementById("account").value;
        if (account == "") {
            alert("Account ID must be filled");
            return false;
        }
        var baseurl = location.origin;
        $.ajax({
              //url: "http://127.0.0.1:8088/saas?account=" + account,
              url: baseurl + "/saas?account=" + account,
              success: function(data){
                console.log(data)
                CreateSaaSTableFromJSON(data)
              },
              error: function(data){
                alert(data.status + ':' + data.statusText,data.responseText);
              },
              type: 'GET'
          });
    });
});

</script>
</html>