<!DOCTYPE html>
<html>
<head>
    <title>VM Operation</title>
    <style>
        th, td, p, input {
            font:14px Verdana;
        }
        table, th, td 
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
        th {
            font-weight:bold;
        }
    </style>
</head>

<form action="/vm-request" method="POST">
    <p>VM Selector: </p>

    <label for="cecid">CEC ID: </label>
    <input type="text" id="cecid" name="cecid"><br>

    <span>Select OS type: </span>
    <select name="os_type">
        <option value="centos7">Centos7</option>
        <option value="ubuntu18">Ubuntu18</option>
    </select>
    <br>

    <span>Select VM Size: </span>
    <select name="os_flavor">
        <option value="small">small</option>
        <option value="middle">middle</option>
        <option value="large">large</option>
    </select>
    <br>

    <span>Select numbers of VM: </span>
    <select name="os_numbers">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>

    <br>
    <span>Select VM duration: </span>
    <input type="radio" id="one-day" name="os_duration" value="1", checked="checked">
    <label for="one-day">one day</label>
    <input type="radio" id="one-week" name="os_duration" value="7">
    <label for="one-week">one week</label>
    <input type="radio" id="two-week" name="os_duration" value="14">
    <label for="two-week">two week</label><br>
    <br>

    <input type="submit" />
    <br>
</form>
<form method="POST" id="vm_action_form"></form>

<body>

    <br>
    <input type="button" id = "vmListGenerate" value="VM Info" />
    <div style="margin-top: 50px; margin-left: 250px">
        <div id="tableDiv" style="margin-top: 40px">
            <p>Click button -> VM Info, to list all your Virtual Machine here </p>
        </div>
    </div>
    
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
function CreateVMTableFromJSON(myVmList) {
    //var myVmList = [{"Name":"jinlliu-1","CPU":2,"Mem":2048,"Disk":30,"Address":"192.168.122.50/24","Status":"running","Type":"centos7","Host":{"Name":"","CPU":0,"Memory":0,"IpAddress":"127.0.0.1","Status":"","UserName":"root","Passwd":"Cisco123!"},"LifeTime":86400000000000}]

    // EXTRACT VALUE FOR HTML HEADER. 
    var col = [];
    for (var i = 0; i < myVmList.length; i++) {
        for (var key in myVmList[i]) {
            if (col.indexOf(key) === -1) {
                col.push(key);
            }
        }
    }

    // ADD NEW COL, DEFINE ACTION
    col.push("Action")

    // CREATE DYNAMIC TABLE.
    var table = document.createElement("table");

    // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

    var tr = table.insertRow(-1);                   // TABLE ROW.

    for (var i = 0; i < col.length; i++) {
        var th = document.createElement("th");      // TABLE HEADER.
        th.innerHTML = col[i];
        tr.appendChild(th);
    }

    // ADD JSON DATA TO THE TABLE AS ROWS.
    for (var i = 0; i < myVmList.length; i++) {

        tr = table.insertRow(-1);

        for (var j = 0; j < col.length; j++) {
            var tabCell = tr.insertCell(-1);
            console.log(col[j])
            if (col[j] == "Host") {
                tabCell.innerHTML = myVmList[i][col[j]]["Name"];
            } else if (col[j] == "Action"){
                tabCell.innerHTML = `
                   <select name="vm_action" form="vm_action_form" >
                       <option value="start">start</option>
                       <option value="shutdown">shutdown</option>
                       <option value="reboot">reboot</option>
                       <option value="delete">delete</option>
                  </select>
                  <button type="button" form="vm_action_form">Confirm</button>
                  `;
            } else {
                tabCell.innerHTML = myVmList[i][col[j]];
            }
        }
    }

    // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
    var divContainer = document.getElementById("tableDiv");
    divContainer.innerHTML = "";
    divContainer.appendChild(table);
}

$(document).ready(function(){
    $("#vmListGenerate").click(function(){
        var account = document.getElementById("cecid").value;
        if (account == "") {
            alert("CEC ID must be filled");
            return false;
        }
        var baseurl = location.origin;
        console.log(baseurl)
        $.ajax({
              //url: "http://127.0.0.1:8088/vm-request/vm?cecid=" + account,
              url: baseurl + "/vm-request/vm?cecid=" + account,
              success: function(data){
                console.log(data)
                CreateVMTableFromJSON(data)
              },
              error: function(data){
                alert(data.status + ':' + data.statusText,data.responseText);
              },
              type: 'GET'
          });
    });
});

</script>
</html>