<!DOCTYPE html>
<html>
<head>
    <title>VM Operation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <style>
        body {
            background-color: white 
        }
        .center {
            display: block;
            margin-top: 12%;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        .modal {
            text-align: center;
            padding: 0!important;
        }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }

        .checkbox-menu li label {
            display: block;
            padding: 3px 10px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: rgb(109, 136, 226);
            white-space: nowrap;
            margin:0;
            transition: background-color .4s ease;
        }
        .checkbox-menu li input {
            margin: 0px 5px;
            top: 2px;
            position: relative;
        }
        
        .checkbox-menu li label:hover,
        .checkbox-menu li label:focus {
            background-color: #b3e7b2;
        }
    </style>
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/axios.min.js"></script>
    <script src="/scripts/jquery.blockUI.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/auth.js"></script>
    <script src="/scripts/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <navibar @updateloginas="updateLoginasHander" v-bind:loginas="loginas" ref="navibar"></navibar>
        <login @updateloginas="updateLoginasHander"></login>
    </div>

    <template id='navibar'>
        <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #282A35; color: #f1f1f1; font-family: sans-serif; font-size: 17px;" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color: tomato; font-size: 20px;" href="#">DevLab</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                  <li><a href="/">Home</a></li>
                  <li class="nav-item active"><a href="/vm-request">Virtual Machine</a></li>
                  <li><a href="/k8s-request">Kubernetes</a></li>
                  <li><a href="/saas-request">SaaS</a></li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administration<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin-node">Node Management</a></li>
                        <li><a href="/admin-account">Account Management</a></li>
                    </ul>
                  </li>
                  <li><a href="https://github.com/JinlongWukong/DevLab#readme">Help</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><p id="accountLoggedID" class="navbar-text">{{ loginas }}</p></li>
                  <li><a href="#" ref="openLogin" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                  <li><a href="#" v-on:click="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div>
        </nav>
    </template>

    <template id='login'>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Welcome to DevLab</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control form-control-md" v-model="accountName" placeholder="AccountName"/>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control form-control-md" v-model="accountPass" placeholder="Password"/>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-md btn-block" v-on:click="login">Login</button>
                        <button type="button" class="btn btn-info btn-md btn-block" v-on:click="generatePassword">Generate One-time Password</button>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" ref="closeModal">Close</button>
                </div>
              </div>
            </div>
        </div>
    </template>

    <br><br><br><br>
    <div id="vmApp">
        <div class="page-header text-info" style="margin-left: 10px;">
            <h4>Virtual Machine Table</h4>
        </div>
        <!--div class="well">Virtual Machine Table</div-->
        <div class="btn-group pull-right" role="group" aria-label="...">
            <button type="button" class="btn btn-info" style="width: 60px" ref="getAllVmInfo" data-toggle="tooltip" title="Refresh all VM" v-on:click="getAllVm">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
              </button>
            <!--a href="#" v-on:click="getAllVm"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a-->
            <button type="button" class="btn btn-primary" style="width: 60px" data-toggle="modal" data-target="#vmModal" data-toggle="tooltip" title="Create new VM">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <!--a href="#"><span class="glyphicon glyphicon-plus"></span></a-->
            <button type="button" class="btn btn-danger" style="width: 60px" data-toggle="tooltip" title="Delete selected VM" @click="vmDelete">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
            <!--a href="#"><span class="glyphicon glyphicon-trash"></span></a-->
        </div>
        <!-- Modal -->
        <div class="modal fade" id="vmModal" role="dialog" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Virtual Machine Input Memu</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="hostname" class="col-sm-2 control-label">Hostname</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="hostname" v-model="hostname" type="text" placeholder="Enter your vm hostname here...">
                            </div>
                            <br>
                            <br>
                            <label for="rootPass" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="rootPass" v-model="rootPass" type="text" placeholder="Enter your root passwd here...">
                            </div>
                            <br>
                            <br>
                            <label for="osType" class="col-sm-2 control-label">OS type</label>
                            <div class="col-sm-10">
                              <select id="osType" class="form-control" v-model="type">
                                <option value="centos7">Centos7</option>
                                <option value="ubuntu18">Ubunt18</option>
                              </select>
                            </div>
                            <br>
                            <br>
                            <label for="osSize" class="col-sm-2 control-label">OS Size</label>
                            <div class="col-sm-10">
                              <select id="osSize" class="form-control" v-model="flavor">
                                <option>small</option>
                                <option>middle</option>
                                <option>large</option>
                              </select>
                            </div>
                            <br>
                            <br>
                            <label for="osNumber" class="col-sm-2 control-label">Number</label>
                            <div class="col-sm-10">
                                <select id="osNumber" class="form-control" v-model.number="numbers">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                </select>
                            </div>
                            <br>
                            <br>
                            <label for="osLifeTime" class="col-sm-2 control-label">LifeTime</label>
                            <div class="col-sm-10">
                                <select id="osLifeTime" class="form-control" v-model.number="duration">
                                  <option value=1>one day</option>
                                  <option value=7>one week</option>
                                  <option value=14>two weeks</option>
                                  <option value=30>one month</option>
                                  <option value=180>three months</option>
                                  <option value=365>forever</option>
                                </select>
                            </div>
                            <br>
                            <br>
                            <label for="vmaddons" class="col-sm-2">Addons</label>
                            <div class="dropdown col-sm-10">
                                <input class="form-control dropdown-toggle" id="vmaddons" type="text" data-toggle="dropdown" placeholder="Select your addons here..." :value="addons">
                                <ul class="dropdown-menu checkbox-menu allow-focus">
                                    <li>
                                        <label for="git"><input type="checkbox" id="git" value="git" v-model="addons">Git</label>
                                    </li>
                                    <li>
                                        <label for="docker"><input type="checkbox" id="docker" value="docker" v-model="addons">Docker</label>
                                    </li>
                                    <li>
                                        <label for="ansible"><input type="checkbox" id="ansible" value="ansible" v-model="addons">Ansible</label>
                                    </li>
                                </ul>
                            </div>
                            <br>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary btn-md" data-dismiss="modal" v-on:click="vmCreate">Submit</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
        <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>
                    <label class="form-checkbox">
                    <input type="checkbox" v-model="selectAll" @click="select">
                    <i class="form-icon"></i>
                    </label>
                </th>
                <th>Name</th>
                <th>Hostname</th>
                <th>Cpu</th>
                <th>Mem</th>
                <th>Disk</th>
                <th>Address</th>
                <th>Status</th>
                <th>Vnc</th>
                <th>NoVnc</th>
                <th>Type</th>
                <th>Node</th>
                <th>LifeTime</th>
                <th>PortMapping</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="vm in vmList" :key="vm.orignName" :class="vm.color">
                  <td>
                    <label class="form-checkbox">
                      <input type="checkbox" :value="vm.orignName" v-model="selected">
                      <vm class="form-icon"></vm>
                    </label>
                  </td>
                  <td v-html="vm.name"></td>
                  <td>{{vm.hostname}}</td>
                  <td>{{vm.cpu}}</td>
                  <td>{{vm.mem}}</td>
                  <td>{{vm.disk}}</td>
                  <td>{{vm.address}}</td>
                  <td>{{vm.status}}</td>
                  <td>{{vm.vnc}}</td>
                  <td v-html="vm.novnc"></td>
                  <td>{{vm.type}}</td>
                  <td>{{vm.node}}</td>
                  <td>{{vm.lifeTime}}</td>
                  <td v-html="vm.portMap"></td>
                  <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success" @click="vmAction(vm.orignName, 'start')">start</button>
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#" @click="vmAction(vm.orignName, 'shutdown')">shutdown</a></li>
                          <li><a href="#" @click="vmAction(vm.orignName, 'reboot')">reboot</a></li>
                          <li><a href="#" @click="vmAction(vm.orignName, 'delete')">delete</a></li>
                          <li><a href="#" @click="vmAction(vm.orignName, 'extend')">extend</a></li>
                          <li><a href="#" @click="vmAction(vm.orignName, 'expose-port')">expose-port</a></li>
                        </ul>
                      </div>
                  </td>
              </tr>
            </tbody>
        </table>        
    </div>
    <script>
        Vue.component('navibar', {
            props: ['loginas'],
            template: '#navibar',
            methods: {
                login() {
                    this.$refs.openLogin.click()
                },
                logout() {
                    window.localStorage.removeItem("access_token")
                    window.localStorage.removeItem("account")
                    this.$emit('updateloginas', "Not login yet")
                },
            }
        })

        Vue.component('login', {
            data: function () {
                return {
                    accountName: "",
                    accountPass: "",
                }
            },
            template: '#login',
            methods: {
                generatePassword() {
                    var baseurl = location.origin;
                    console.log(this.accountName)
                    axios.post(baseurl + "/one-time-password?account=" + this.accountName)
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error.response);
                            alert(error.response.status); // show response
                        });
                },
                login() {
                    var baseurl = location.origin;
                    var that = this
                    axios.post(baseurl + "/login", {
                            account: this.accountName,
                            password: this.accountPass
                        })
                        .then(function (response) {
                            console.log(that.accountName)
                            window.localStorage.setItem("access_token", response.data.access_token)
                            window.localStorage.setItem("account", that.accountName)
                            that.$emit('updateloginas', "Login as " + that.accountName)
                            that.$refs.closeModal.click()
                        })
                        .catch(function (error) {
                            console.log(error.response);
                            alert(error.response.status); // show response
                        });
                }
            }
        })

        var vm = new Vue({
            el: '#app',
            data: {
                loginas: "Not login yet",
            },
            mounted: function() {
                var account = window.localStorage.getItem("account");
                var token = window.localStorage.getItem("access_token");
                if (!account || !token) {
                    this.$refs.navibar.login()
                } else {
                    this.loginas = "Login as " + account
                }            
            },
            methods: {
                updateLoginasHander(variable) {
                    console.log("received login as " + variable)
                    this.loginas = variable
                }
            }
        })
        var vmApp = new Vue({
            el: "#vmApp",
            data: {
                msg: "xxx",
                hostname: "",
                rootPass: "",
                flavor: "small",
                type: "centos7",
                numbers: 1,
                duration: 1,
                addons: [],
                vmList: [],
                selected: [],
		        selectAll: false
            },
            mounted: function() {
                this.getAllVm()
            },
            methods: {
                getAllVm() {
                    try {
                        var loginInfo = getLoginInfo()
                    } catch (e) {
                        console.log(e)
                        return
                    }
                    var token = loginInfo.token 
                    var baseurl = location.origin;
                    var that = this
                    axios.get(baseurl + "/vm", {
                        headers: {
                            "Authorization": "Bearer "+ token
                        },
                    })
                    .then(function (response) {
                        console.log(response.data)
                        that.convertVmList(response.data)
                    })
                    .catch(function (error) {
                        console.log(error);
                        if (error.response.status == 401) {
                            vm.$refs.navibar.login()
                        }
                        alert(error.response.status); // show response
                    });
                },
                convertVmList(vmList) {
                    var that = this
                    console.log("start convert vm list")
                    vmList.forEach(vm => {
                      //vm web terminal
                      vm.orignName = vm.name
                      var url = location.origin + "/vm/" + vm.name + "/web-terminal"
                      vm.name = "<a href="+ url +">" + vm.name + "</a>"
                      //novnc
                      if (vm.novnc) {
                        vm.novnc = "<a href=" + vm.novnc + ">link</a>"
                      }
                      //portmapping
                      var result = ""
                      for(var key in vm.portMap) {
                        var value = vm.portMap[key];
                        result = result + key + "->" + value + "<br>"
                      }
                      vm.portMap = result
                      //vnc
                      vm.vnc = vm.vnc["port"]
                      //lifetime
                      vm.lifeTime = vm.lifeTime/3600000000000 + "h"
                      //add color
                      switch(vm.status) {
                        case 'deleting':
                        case 'deleted':
                          vm.color = "warning"
                          break
                        case 'init':
                        case 'scheduled':
                        case 'creating':
                        case 'running':
                          vm.color = "default"
                          break
                        default:
                          vm.color = "danger"
                      }
                    })
                    console.log(vmList)
                    that.vmList = vmList
                },
                vmAction(name, action) {
                    var that = this
                    try {
                        var loginInfo = getLoginInfo()
                    } catch (e) {
                        console.log(e)
                        //notify user to login
                        vm.$refs.navibar.login()
                    }
                    var token = loginInfo.token;
                    var baseurl = location.origin;
                    var url = baseurl + "/vm/" + name + "/"
                    var payload = {}
                    if (action == "expose-port") {
                        url = url + "port/expose"
                        var portInput = prompt("Please enter the port to be exposed, format(22 or 22:tcp or 22:udp)");
                        if (portInput) {
                            var res = portInput.split(":")
                            if (res.length == 1) {
                                payload = 'port=' + res[0] + '&protocol=' + 'tcp'
                            } else if (res.length == 2) {
                                payload = 'port=' + res[0] + '&protocol=' + res[1]
                            } else {
                                alert("invalid port format")
                                return
                            }
                            console.log(payload)
                        } else {
                            return
                        }
                    } else {
                        url = url + action
                    }
                    $.blockUI({timeout:   8000})
                    axios.post(url,
                            payload,
                            {
                                headers: {
                                    "Authorization": "Bearer "+ token
                                },
                            })
                        .then(function (response) {
                            console.log(response)
                            $.unblockUI()
                            that.getAllVm()
                        })
                        .catch(function (error) {
                            console.log(error);
                            $.unblockUI()
                            if (error.response.status == 401) {
                                vm.$refs.navibar.login()
                            }
                            alert(error.response.status); // show response
                        });
                },
                vmDelete() {
                    for (const item of this.selected) {
                        this.vmAction(item, "delete")
                    }
                },
                vmCreate() {
                    var that = this
                    try {
                        var loginInfo = getLoginInfo()
                    } catch (e) {
                        console.log(e)
                        //notify user to login
                        vm.$refs.navibar.login()
                    }
                    var token = loginInfo.token;
                    var baseurl = location.origin;
                    var url = baseurl + "/vm"
                    var payload = {
                        "hostname": this.hostname,
                        "rootPass": this.rootPass,
                        "type": this.type,
                        "flavor": this.flavor,
                        "numbers": this.numbers,
                        "duration": this.duration,
                        "addons": this.addons
                    }
                    $.blockUI({timeout:   8000})
                    axios.post(url,
                            payload,
                            {
                                headers: {
                                    "Authorization": "Bearer "+ token
                                },
                            })
                        .then(function (response) {
                            console.log(response)
                            $.unblockUI()
                            that.getAllVm()
                        })
                        .catch(function (error) {
                            console.log(error);
                            $.unblockUI()
                            if (error.response.status == 401) {
                                vm.$refs.navibar.login()
                            }
                            alert(error.response.status); // show response
                        });
                },
                select() {
			        this.selected = [];
			        if (!this.selectAll) {
			    	    for (let i in this.vmList) {
				    	    this.selected.push(this.vmList[i].orignName);
				        }
			        }
		        }
            }
        })
    </script>
</body>
</html>
